/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.site-name {
	display: none !important
}

.navbar .links {
	background-color: transparent !important;
}

h1#main-title {
	display:none;
}
